body, html {
  margin: 0px;
  padding: 4px;
  height: 100%;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
}

.nnn {
  background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
}

.planetIcon {
  margin: 15px;
}
  
.map {
  width: 99vw;
  height: 88vh;
  position: center;
}

.location-icon{
  font-size: 1.5rem;
  color: red;
}

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.btn-3 {
  background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
}

.btn-vol {
  text-align: left;
  padding: 15px 32px;
  margin: 20px;
  background-color: #37D7E8;
  border: none;
  user-select: none;
  cursor: pointer;
  font-size: 10px;
  text-transform: uppercase;
  transition: all 0.5s linear;
  color: #fff;
}

.btn-vol:hover {
  background-color:#002EAD;
  border-radius: 0;
  scale: 1.1;
}

.btn-vol::after{
  content: '';
  background: #0ebac5;
  width: 0;
  height: 100%;
  position: absolute;
  inset: 0;
  z-index: -1;    
}

.btn-vol:hover::after {
  width: 100%;
}

h1{
  margin: 5px;
}

.location-info {
  position: absolute;
  top: 250px;
  right: 20px;
  width: 225px;
  min-height: 200px;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  font-size: 15px;
  color: #fff;
}

.location-info ul {
  list-style-type: none;
  padding: 0;
}

.location-info li {
  padding: 5px 0;
}