/*
index.html
*/

body, html {
  background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  overflow: hidden;
  padding: 4px;
}

/*
Loader.js
*/

.loader {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

/*
LocationInfo.js
*/

.location-info {
  background: linear-gradient(rgba(128, 255, 219, 0.5), rgba(83, 144, 217, 0.5));
  text-shadow: 1px 1px 2px black;;

  border-radius: 10px;
  text-align: left;
  color: #fff;
  font-size: 15px;
  min-height: 200px;
  padding: 15px;
  position: absolute;
  right: 19px;
  top: 250px;
  width: 300px;
}

.location-info li {
  padding: 5px 0;
  text-shadow: black;

}

.location-info ul {
  list-style-type: none;
  text-shadow: black;

  padding: 0;
}

/*
Map.js
*/

.map {
  height: 93vh;
  margin: auto;
  text-align: center;
  width: 99vw;
}

/*
Nav.js
*/

.nav-background {
  background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
}
