body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .map {
    width: 100vw;
    height: 100vh;
    position: relative;
  }
  
  .location-icon{
    font-size: 1.5rem;
    color: red;
  }
  
  .loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  .btn-3 {
    background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
  }